body{
    /* background-color: #f1f1f1; */
    font-family: Arial, Helvetica, sans-serif;
}

div{
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
}

.title{
    color: #ff9d00;
    width: fit-content;
    padding-top: 8%;
    margin: auto;
    /* border: 20px ; */
    text-transform: uppercase;
    margin-bottom: 40px;
}

.hor{
    border-color: #09998c;
    background-color:  #09998c;
    height: 4px;
}

.stex{
    font-size: 12px;
    margin: auto;
    text-align: center;
    padding-inline: 10%;
}

.cards1{
    display: flex;
    /* flex-direction: row; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    width: 90%;
    margin: auto;
}

.cards2{
    display: flex;
    /* flex-direction: row; */
    /* grid-template-columns: 1fr 1fr; */
    width: 63%;
    margin: auto;
}

.crd{
    padding: 4%;
    border-radius: 4px;
    align-items: center;
    align-content: center;
    /* margin: ; */
    /* align-items: center; */
    /* align-content: center; */

} .crd:hover{
    background-color: #ff9d00;
    transition: 1.25s;
    color: #f1f1f1;
    /* text-shadow: 3px #09998c; */
    p{
        color: #f1f1f1;
        transition: 1.25s;
    }
}


.dico{
    /* margin: auto; */
    padding-inline: 20%;
    max-width: 99%;
}

.icon{
    fill: #09998c;
    margin: auto;
    
}



.min-tit{
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

.txt{
    font-size: 11px;
    color: grey;
    margin: auto;
    text-align: center;
}

.yaram{
    background-color: #f1f1f1;
    margin-top: 5%;
    /* width: 100%; */
}


/*/////////////////////////////////////////////////////*/


 /* Style de base pour le conteneur */
 .corpus {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-top: 8%;
  }

  /* Style pour les cartes */
  .crd {
    flex: 1 1 calc(33.333% - 32px); /* 3 cartes par ligne */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    padding: 16px;
    background-color: #f1f1f1;
    border-radius: 3px;
    text-align: center;
  }

  /* Les icônes */
  .dico {
    margin-bottom: 16px;
  }

  .icon {
    width: 50px;
    height: 50px;
    fill:#09998c;
  }

  /* Media Query pour écrans mobiles */
  @media screen and  (max-width: 768px) {
    .crd {
      flex: 1 1 100%; /* Chaque carte occupe toute la largeur */
    }

    .cards1{
      display: flex;
      flex-direction: column;
      /* flex-direction: row; */
      /* grid-template-columns: 1fr 1fr 1fr; */
      /* width: 90%; */
      /* margin: auto; */
  }

  .cards2{
      display: flex;
      flex-direction: column;
      /* flex-direction: row; */
      /* grid-template-columns: 1fr 1fr; */
      /* width: 63%; */
      /* margin: auto; */
  }

  #box-but{
    flex-direction: column;
    height: 45%;
    gap: 5px;
    
    .btn{
      width: 150px;
      
    }
  }
  

  }

  @media (max-width: 480px) {
    .corpus {
      gap: 8px;
    }

    .crd {
      padding: 12px;
    }
  }